.logo{
    padding: 50px;
    position: fixed;
}

.logo{
    z-index: 110;
}

.logo:hover{
    transform:scale(1.8,1.8);
    opacity: 0.8;
    transition-duration: 1s;
    opacity: 0.8;
}

header{
    display: flex;
    align-items: center;
}

.topic{
    text-align: center;
    width: 750px;
    font-size: 100px;
}

/* ハンバーガーメニュー */

.material-icons{
    font-size: 40px;
    cursor: pointer;
    position: fixed;
    right: 45px;
    top: 45px;
    z-index: 110;
}

.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: -120%;

    background-color: black;
    width: 30%;
    height: 100%;

    opacity: 0;
    pointer-events: none;
    transition: opacity .6s;
    z-index: 110;
}

.overlay.show{
    opacity: 1;   
    pointer-events: auto;
    transition: opacity .6s;
    z-index:　110;
    left: 0;
}

.menu.nshow{
    opacity: 0;
    transition: opacity .6s;
}

.overlay ul{
    list-style-type: none;
    padding: 10%;
}

.overlay ul li{
    padding-top: 50px;
    font-size: 25px;
    color: white;
}

.overlay ul li a{
    color: white;
}

/* 内容 */

body{
    text-align: center;
}

.main{
    padding-top: 80px;
}

h1{
    padding: 80px;
}

p{
    padding: 30px;
}

body img{
    padding: 80px;
}

.detail{
    padding: 80px;
    text-align: left;
}

.mdetail{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contents{
    padding: 30px;
    line-height: 80px;
}

.imp{
    font-size: 40px;
}

a{
    text-decoration: none;
}

.info a{
    text-align: center;
    font-size: 40px;
}

.info{
    border: black 3px;
}


.back{
    display: inline;
    text-decoration: none;
    font-size: 40px;
}

.back a{
    color: black;
}



/* Footer */

.footer{
    width: auto;
    background-color: black;
    color: white;
    height: 300px;
    bottom: 0;
    left: 0;
    right: 0;
}

.f_text{
    font-size: 25px;
    height: 250px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
    /* text-align: center;  */
}

#fdawn_text, #fdawn_about{
    width: 100px;
    /* text-align: center; */
    /* font-size: 50px; */
}

#fdawn{
    padding: 0;
}

#fdawn_about a, #fdawn_text a{
    color: white;
}

/* animation */

.animate{
    opacity: 0;
    transform: translateY(60px);
    transition: opacity .6s, transform 1s;
}

.animate.appear{
    opacity: 1;
    transform: none;
}

@media (min-width: 0px) and (max-width: 1099px) {
    .mdetail{
        display: inline;
    }
    .detail{
        text-align: center;
    }
}

@media (min-width: 0px) and (max-width: 699px) {
    body{
        margin: 0;
    }
    .mdetail img{
        padding: 0;
    }
}

@media (min-width: 0px) and (max-width: 699px) {
    .logo{
        padding: 25px;
        top: -70px;
        left: -70px;
    }.topic{
        padding-top: 100px;
    }
    .back{
        font-size: 4vw;
    }
}

@media (min-width: 0px) and (max-width: 449px) {
    p{
        font-size: 4vw;
    }
}

@media (min-width: 0px) and (max-width: 399px) {
    .mdetail img{
        width: 100%;
        height: 100%;
    }
}