.logo{
    padding: 50px;
    position: fixed;
}

.logo{
    z-index: 110;
}

.logo:hover{
    transform:scale(1.8,1.8);
    opacity: 0.8;
    transition-duration: 1s;
    opacity: 0.8;
}

header{
    display: flex;
    align-items: center;
}

.topic{
    text-align: center;
    width: 750px;
    font-size: 100px;
}

/* ハンバーガーメニュー */

.material-icons{
    font-size: 40px;
    cursor: pointer;
    position: fixed;
    right: 45px;
    top: 45px;
    z-index: 110;
}

.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: -120%;

    background-color: black;
    width: 30%;
    height: 100%;

    opacity: 0;
    pointer-events: none;
    transition: opacity .6s;
    z-index: 110;
}

.overlay.show{
    opacity: 1;   
    pointer-events: auto;
    transition: opacity .6s;
    z-index:　110;
    left: 0;
}

.menu.nshow{
    opacity: 0;
    transition: opacity .6s;
}

.overlay ul{
    list-style-type: none;
    padding: 10%;
}

.overlay ul li{
    padding-top: 50px;
    font-size: 25px;
    color: white;
}

.overlay ul li a{
    color: white;
}

/* 内容 */

body{
    text-align: center;
    margin: 0%;
}

.main{
    padding-top: 80px;
}

h1{
    padding: 80px;
}

.contents{
    padding: 30px;
    line-height: 80px;
}

.imp{
    font-size: 40px;
}

a{
    text-decoration: none;
}

.back{
    text-decoration: none;
    font-size: 40px;
    padding: 110px;
}

.back a{
    color: black;
}



/* パララックス　背景画像 */

.parallax_box{
    padding-top: 100px;
    padding-bottom: 50px;
}

.parallax_content p{
    display: inline;
}

.parallax_content{
    padding: 10%;
    font-size: 6vw;
    font-weight: bold;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
  
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 100px;
  }
.img_bg_01{
    background-image: url(pexels-satoshi-hirayama-2070033.jpg);
    
}


/* body */

.schedule{
    padding: 100px;
    display: flex;
    justify-content: space-between;
}
.day,.name,.place,.time{
    width: 200px;
    text-align: left;
}
.time p{
    padding-bottom: 10px;
}

.smp{
    display: none;
}



/* Footer */

.footer{
    width: auto;
    background-color: black;
    color: white;
    height: 300px;
    bottom: 0;
    left: 0;
    right: 0;
}

.f_text{
    font-size: 25px;
    height: 250px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
    /* text-align: center;  */
}

#fdawn_text, #fdawn_about{
    width: 100px;
    /* text-align: center; */
    /* font-size: 50px; */
}

#fdawn_about a, #fdawn_text a{
    color: white;
}

/* animation */

.animate{
    opacity: 0;
    transform: translateY(60px);
    transition: opacity .6s, transform 1s;
}

.animate.appear{
    opacity: 1;
    transform: none;
}

@media (min-width: 0px) and (max-width: 949px) {
    .schedule{
        display: none;
    }
    .smp{
        display: inline;
    }
}
@media (min-width: 0px) and (max-width: 599px) {
    .logo{
        padding: 25px;
        top: 0;
    }.topic{
        padding-top: 100px;
    }
    .back{
        font-size: 4vw;
    }
}